




/* Layouts */


main{
    display: flex;
    flex-flow:column;
    align-items: stretch;
    margin-top: 2rem;
    margin-bottom: 2rem;
    row-gap: 2rem;
}




h1{ font-size: 2rem;
    font-weight: 700;
    padding-top: 1rem;
    margin: 0 auto;
    text-transform: uppercase;
}

h2{font-size: 3rem;
    text-align: center;

    font-weight: 700;
}

h3{
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    display: block;
    padding-bottom: 1rem;
}

/* Bootstrap Nav tuning */

.nav-item{
    margin-right: 2rem;
}
.nav-link{
    color:var(--fonts-color);
    font-size: 2rem;
}

.nav-link:hover{
    background-color: var(--button-hover);
    transition: 0.2s;
}

.ownNavBarButton{
    background-color: var(--button-hover);

}

/* bootstrap acordion tuning terapias.html*/
.acordH2{
    color: var(--fonts-color);
    font-size: 3rem;
    text-align: center;
    padding: 2rem 0 2rem 0;

}


/*clases de color de fondo globales*/


.articleBg{
    background-color:var(--articles-bg-color);
}

.barsBg{
    background-color: var(--bars-bg-color);
}

.cardBg{
    background-color:var(--card-bg-color);
    color: var(--card-font-color);
}

/* article cardscontainer global */


article{
    font-size: 2rem;
    line-height: 3rem;
}





/* CSS GLOBALS CARDS & POSITION global*/


.ownCard {
    padding: 2rem;
    border-radius: 1.5rem;
    column-gap: 4rem;
    row-gap: 2rem;
    width: 100%;
    max-width: 1440px;
}




/* HEADER - FOOTER SECTION global */
.footerSection{
    padding:1rem 1rem 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}



.headerTitle{
    font-size: 3.5rem;
}

.footerSection ul li{
    display: inline-block;
    padding: 0 1.5rem 0 1rem;
    font-size: 1.5rem;

}



/* images sizes positionings global*/
.logo{
    height: 9rem;
    padding: 1rem;
}


.iconImg{
    height:25px;
    width: 25px;
}

.footerSection img{
    vertical-align: middle;
}



/* CSS index.html _ servicios.html*/



.figBenefits{


    background-color: var(--figure-bg-color);
    border-radius: 2rem;
    padding:1rem;
    text-align: center;
}
.figBenefits img{
    width: 100%;
    border-radius: 2rem;
    } 

.figBenefits span{
    font-weight: 700;
    display: block;
    
}

/* animation en galeria* servicios.html - index.html*/

@keyframes smalling{
    0%{transform: scale(.9)}
    50%{transform:translateY(.7)}
    100%{transform:translateY(.9)}
}

.figBenefits:hover{
    animation-name: smalling;
    animation-duration: 1s;
}

.figBenefits:active{
    animation-name: smalling;
    animation-duration: 1s;

}

/* CSS servicios.html */
.imgProceso{
    width: 300px;
    vertical-align: middle;
    border-radius: 2rem;
}

.servicesText{
    display: inline-block;
    max-width: 420px;
    font-weight: 700;
}
.mediosPago{
    width: 50%;
    padding: 5rem;
    border-radius: 20px;
}

.addressList{
    text-align: center;
}

.mapaContainer{
    text-align: center;
    width: 350px; 
    height: 350px;
    margin-bottom: 1rem;
    
}
.mapaContainer iframe{
    align-self: center;
    border-radius: 2rem;
}
/* CSS equipo.html */

.photo{
    width: 200px ;
    height: 200px;
    border-radius: 200px;
    
}


.teamPresentation{
    min-width: 180px;
    max-width: 700px;
    text-align: left;
    
}

.teamPresentation h4 {
    font-style: italic;
}

.teamPresentation li{
    padding-bottom: 2rem;
}



/* CSS contacto.html */
    
.ownForm{
    max-width: 820px;
}


.formBlock{ 
    min-width: 10rem;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content:flex-start;
    
}
/* CSS radio positioning*/

.labelRadio,label{
    display: inline-block;
    width: 14rem;
    vertical-align:top;
    font-weight: 700;
    font-style: italic;
}


.radioLabelSub{
    width: 6rem;
    font-weight:500 ;
    font-style:normal;
}
form input,button{
    background: none;
    font-size: 1.5rem;
    vertical-align: middle;
    border: none;
    border-bottom: 2px solid var(--card-bg-color);
    outline: none;
}

form select {
    font-size: 1.5rem;
    background: local;
    background-color: var(--bg-color-fill);
}

form select option{
    background-color:  var(--bg-color-fill);
}

form textarea{
    background: none;
    vertical-align: middle;
    outline: none;
    border: 2px solid var(--card-bg-color)
}

form input:focus{
    border-bottom: 2px solid var(--form-focus-color);
    
}




form .button{
    margin-top: 1rem;
    border-radius: 0.5rem;
    margin-left: 3rem;
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

form .button:hover{
    background-color: var(--button-hover);
    transition: 0.2s;
}

.buttonBlock{
    text-align: left;
}

/*media queries*/
@media only screen and (max-widtsh: 350px){
    
    .imgProceso{
        width: 100%;
        border-radius: 1.5rem;
    }
    
    .footerSection ul li{
        font-size: 1rem;    
    }

}
