
.photo{
    width: 200px ;
    height: 200px;
    border-radius: 200px;
    
}


.teamPresentation{
    min-width: 180px;
    max-width: 700px;
    text-align: left;
    h4 {
        font-style: $titleFont;
    }
    li{
    padding-bottom: 2rem;
    }
}    