/* Bootstrap Nav tuning */

.nav-item{
    margin-right: 2rem;
}
.nav-link{
    color:$fontColor;
    font-size:$mdFont;
    &:hover{
        background-color: $buttonHoverBg;
        transition: 0.2s;
    }
}
//container trasp. bg
.traspBg{
    background-color: $traspBg;

}
.ownNavBarButton{
    background-color: $buttonHoverBg;

}


.barsBg{
    background: $barsBgColor;
}


