/* bootstrap acordion tuning terapias.html*/
.accordH3{
    color: $fontColor;
    font-family: $titleFont;
    font-size:$mdFont;
    font-weight: $normal;
    text-align: center;
    padding: 2rem 0 2rem 0;

}

.accordion-button{
    &:not(.collapsed){
        color:$accordActive;
    }
}