/* bootstrap acordion tuning terapias.html*/
.acordH2{
    color: $fontColor;
    font-family: $titleFont;
    font-size:$xlFont;
    font-weight: $normal;
    text-align: center;
    padding: 2rem 0 2rem 0;

}

